// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.banner {
  background: red;
  p {
    font-size: 30px;
  }
}

a {
  color: grey;
  &:hover {
    color: black;
  }
}

$rose: #d9adad;

body {
  background: $rose;
}
